[flake8]
max-line-length = 88
extend-ignore = E203,E501,W503,F401
exclude =
    .git,
    __pycache__,
    .mypy_cache,
    .pytest_cache,
    .tox,
    .venv,
    build,
    dist,
    libs,
    *.egg-info
per-file-ignores =
    __init__.py:F401
    test_*.py:S101
