[Unit]
Description=Run Roon Album Art Display
After=network.target

[Service]
Type=simple
WorkingDirectory=/mnt/dietpi_userdata/roon-album-art-display
ExecStart=/mnt/dietpi_userdata/roon-album-art-display/start_display.sh
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
